@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu+Mono|Merriweather");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

html {
  font-size: 15px;
}
html, body {
  color: #444;
  font-family: "Noto Sans", sans-serif;
  background-color: #F7F7F7;
}
h1, h2, h3 {
  color: #444;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
h4, h5 {
  color: #444;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.footer {
  font-size: 0.8rem;
}

.main-container {
  max-width: 1240px !important;
  padding: 0 40px !important;
}
@media only screen and (max-width: 400px) {
  .main-container{
    padding: 0 20px !important;
  }
}

.card, .card-header:first-child {
  border: 1px solid #DDD;
  border-radius: 0;
}
.card-header {
  background-color: #EEE;
  font-size: 1.2rem;
}
a.card:hover {
  text-decoration: none !important;
  background-color: #DDD;
}

.row-tight {
  margin-right: -5px;
  margin-left: -5px;
}
.row-tight .col-sm-3, .row-tight .col-sm4 {
  padding-right: 5px;
  padding-left: 5px;
}

.form-group {
  
}

/* selection settings */
  .main_selection {
    text-align: center;
  }
  .main_selection .form-group {
    text-align: center;
    width: auto;
  }
  .main_selection .form-group .selectize-dropdown {
    min-width: 250px;
  }
  .main_selection .form-group .selectize-input {
    overflow: inherit;
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 0;
  }
  .main_selection .form-group .selectize-input.focus {
    background-color: #EEE;
    box-shadow: none;
  }
  .main_selection .form-group .selectize-input .item, .main_selection .selectize-control.single .selectize-input input {
    color: #008080;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Merriweather", sans-serif;
    margin-top: 0.2em;
  }
  .main_selection .selectize-control.single .selectize-input::after {
    border-color: #008080 transparent transparent transparent;
  }
  .main_selection .selectize-control.single .selectize-input.dropdown-active::after {
    border-color: transparent transparent #008080 transparent;
  }

/* .widget settings */
  .widget-card {
    transition: background-color 0.5s ease-in-out;
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 0;
  }
  .widget-title {
    color: #444;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
  }
  .widget-number {
    color: #444;
    font-size: 1.6rem;
    font-family: "Ubuntu Mono", monospace;
  }
  .widget-unit {
    color: #444;
    font-size: 0.8rem;
    font-family: "Ubuntu Mono", monospace;
  }
  .widget-title, .widget-unit {
    text-transform: uppercase;
  }

/* overview settings */
  .height-2 {
    height: 2em;
  }
  .width-2 {
    width: 2em !important;
  }
  .crnr {
    border-color: transparent;
    border-style: solid;
    border-width: 1em;
  }
  .plr-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .pos-abs {
    position: absolute !important;
    bottom: 0px;
    right: 0px;
  }

/* colour settings */
  .color-white {
    color: #fff !important;
  }
  .bg-purple {
    border-right-color: #aa2020;
    border-bottom-color: #aa2020;
  }
  .bg-yellow {
    border-right-color: #004080;
    border-bottom-color: #004080;
  }
  .bg-brown {
    border-right-color: #800080;
    border-bottom-color: #800080;
  }
  .bg-darkblue {
    border-right-color: #008000;
    border-bottom-color: #008000;
  }
  .bg-purple-h:hover {
    background-color: #e4b9b9 !important;
  }
  .bg-yellow-h:hover {
    background-color: #adc2d6 !important;
  }
  .bg-brown-h:hover {
    background-color: #dab5da !important;
  }
  .bg-darkblue-h:hover {
    background-color: #a7d3a7 !important;
  }

/* Issue with Safari & Bootstrap rows, see https://stackoverflow.com/questions/44099562/ */
.row:before, row:after {
    display: inline-block;
}
